<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/assets/css/main.css">
  </head>
  <body class="win">
    <div class="wrapper">
      <h1 class="title">You win!</h1>
      <img id="happy_cat" src="public/assets/imgs/happy_cat.png"></img>

      <form method="get" action="/game">
        <button type="submit">Play again</button>
      </form>

      <div class="credits">
        <h4>Credits</h4>
        <p>William Powell</p>
        <p>Roxana Pirvu</p>
        <p>Siobhan Goggins</p>
        <p>Oliver Harris</p>
        </p>
      </div>

    </div>
  </body>
</html>
