html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

canvas {
  outline: 1px solid #000;
  background-image: url("../imgs/BG.png");
  width: 99.5vw;
  height: 90vh;
}

ul {
  list-style-type: none;
}
