html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

body, .wrapper, button {
  background-color: black;
}

canvas {
  outline: 1px solid #000;
  background-image: url("../imgs/BG.png");
  background-repeat: no-repeat;
  background-size: 99.5vw;
  width: 99.5vw;
  height: 90vh;
}

h1, h2, h4, button, p, li {
  font-family: 'Press Start 2P', cursive;
  color: #eeeeee;
}

.title {
    padding-top: 3rem;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 0.3rem;
}

.controls, .message {
padding-top: 1rem;
padding-bottom: 1rem;
}

button {
  width: 25%;
  padding: 2rem 4rem;
}
